<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="hostIntegration.ti.wip" type="Microsoft.HostIntegration.ConfigurationSectionHandlers.Ti.Wip.WipConfigurationSectionHandler, Microsoft.HostIntegration.ConfigurationSectionHandlers, Version=10.0.1000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="hostIntegration.tracing" type="Microsoft.HostIntegration.ConfigurationSectionHandlers.Tracing.TracingConfigurationSectionHandler, Microsoft.HostIntegration.ConfigurationSectionHandlers, Version=10.0.1000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="hostIntegration.ti.wip.ivp" type="Microsoft.HostIntegration.ConfigurationSectionHandlers.Ti.Wip.IvpConfigurationSectionHandler, Microsoft.HostIntegration.ConfigurationSectionHandlers, Version=10.0.1000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <hostIntegration.tracing xmlns="http://schemas.microsoft.com/his/Tracing/2013">
    <traceOptions traceDefinitionFile="C:\HISTracing\TI_Trace.HITD" writeTraceFile="true" fileNamePreamble="IVP" traceFileFolder="C:\HISTracing\" />
  </hostIntegration.tracing>
  <hostIntegration.ti.wip.ivp xmlns="http://schemas.microsoft.com/his/Config/TiWipIvp/2013">
    <executionParameters programmingModel="CicsSnaUserData" connectionType="NonPersistent" requireResponseToContinue="true" iterations="1" />
  </hostIntegration.ti.wip.ivp>
  <hostIntegration.ti.wip xmlns="http://schemas.microsoft.com/his/Config/TiWip/2013">
    <readOrder appConfig="first" cache="unused" registry="unused" />
    <cache cacheName="TICache" key="TICacheKey" region="HostIntegrationServerCacheRegionTransactionIntegrator" />
    <remoteEnvironments>
      <remoteEnvironment name="DMV2" isDefault="true" codePage="37" timeout="10">
        <snaUserData localLuName="LE2MV6T1" remoteLuName="MWCSSYS1" modeName="CAMV62P" syncLevel2Supported="false" essoAffiliateApplication="" securityFromClientContext="false" />
      </remoteEnvironment>
    </remoteEnvironments>
    <objects>
      <object name="California.DMV" remoteEnvironmentName="DMV2" remoteEnvironmentTypeId="SnaUserData" />
    </objects>
    <conversionBehavior acceptAllInvalidNumerics="false" acceptBadCOMP3Sign="false" acceptNullPacked="false" acceptNullZoned="false" alwaysCheckForNull="false" stringsAreNullTerminatedAndSpacePadded="true" trimTrailingNulls="true" convertReceivedStringsAsIs="true" allowNullRedefines="false" />
    <tiWipBehavior callAccountingProcessor="" nineCharacterImsTransactionId="false" sourceTransactionProgramNameOverride="false" useSyncLevel1="false" />
  </hostIntegration.ti.wip>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>